/* Main styles */

/* CSS Variables */
:root {
    --main: #ddd;
    --dark: #333;
    --white: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --blue: rgb(89, 166, 230);
    }
    
    *{
        transition:all 0.1s ease-in-out;
        margin: 0;
        padding: 0
    }
    
    html {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--dark);
    }
    
    body {
        background: 
        url(../img/Crowd-Transparent-PNG.png),
        radial-gradient(#968AC2, #4959A8);
        line-height: 1.4;
        background-repeat: repeat-x;
        background-position: top;
        padding: 0.40rem;
        height: auto;
    }
    
    img {
        max-width: 100%;
    }